<div>
<h3>Add Player Level </h3>
</div>

<div>
<% form_for(:level, :url => {:controller => 'player_level', :action => 'create'}, :html => { :multipart => true }) do |f| %>
<table width="95%">
<tr>
 <td>Name</td>
  <td><%= f.text_field :name %></td>
</tr>

<tr>
	<td>
	<%= submit_tag "Submit" %>
	<%= submit_tag "Cancel" %>
	</td>
</tr>


</table>
<%end%>
</div>